* {
  box-sizing: border-box;
}

html {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}

.homePage {
  max-width: 1024px;
  margin: 4em auto;
}

.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/upload/vatten.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40em;
}

a {
  text-decoration: none;
}

.btn {
  width: 6rem;
  border-radius: 4px;
}

.btn:hover {
  background-color: black;
  color: white;
}

/* MainCss */

.mainContent {
  max-width: 1440px;
  background-color: aqua;
  animation: colorize 10s infinite;
  padding: 0.5em;
}

@keyframes colorize {
  from {
    background-color: aqua;
  }

  to {
    background-color: aliceblue;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  justify-content: center;
  gap: 16px;
  margin: 0 auto;
}

.animationItem {
  padding: 50px;
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
  animation: animate infinite 5s;
}

@keyframes animate {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: green;
  }
  100% {
    background-color: red;
  }
}

.transitionItem {
  width: 250px;
  height: 250px;
  background: red;
  color: none;
  transition: width 5s;
  text-align: center;
}

.transitionItem:hover {
  width: 50px;
  color: white;
  text-align: center;
  background: black;
}

.textContainer {
  transition: 1s;
}

.textContainer:hover {
  transform: rotate(180deg);
}

.copyPasta {
  padding: 50px;
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
  transition: 2s;
}

.copyPasta:hover {
  transform: rotate(180deg);
}
