* {
  box-sizing: border-box;
}

html {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: white;
}

.homePage {
  max-width: 1024px;
  margin: 4em auto;
}

.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/upload/vatten.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40em;
}

a {
  text-decoration: none;
}

.btn {
  width: 6rem;
  border-radius: 4px;

}

.btn:hover {
  background-color: black;
  color: white;
}

/* MainCss */

.mainContent {
  max-width: 1440px;
  background-color: aqua;
  animation: colorize 10s infinite;
}

@keyframes colorize {
  from {
    background-color: aqua;
  }

  to {
    background-color: aliceblue;
  }
}

.items {
  width: 50px;
  background-color: red;
}